<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <link href="{{ asset('bundles/acmedemo/css/dashboard.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/acmedemo/css/demo.css') }}"  rel="stylesheet"/>

        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('_welcome_login') }}">Tags</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li>
                                <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
                            </li>
                        {% endif %}
                        {#<li><a href="#">Settings</a></li>#}
                        {#<li><a href="#">Profile</a></li>#}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">Выход</a>
                        </li>
                    </ul>
                    {#<form class="navbar-form navbar-right">#}
                        {#<input type="text" class="form-control" placeholder="Search...">#}
                    {#</form>#}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar" style="padding-top: 50px;">
                    {% if is_granted('ROLE_BOSS') %}
                        <ul class="nav nav-sidebar">
                            <li>
                                <a href="{{ path('admin_project') }}">Ссылки</a>
                            </li>
                            <li><a href="{{ path('admin_faq') }}">FAQ</a></li>
                            <li>
                                <a href="{{ path('boss_site') }}">Сайты</a>
                            </li>
                        </ul>
                    {% endif %}
                    {% if is_granted('ROLE_BOSS') or is_granted('ROLE_EDITOR') %}
                        <ul class="nav nav-sidebar">
                            <li>
                                <b>Сотрудники</b>
                            </li>
                            {% if is_granted('ROLE_BOSS') %}
                                <li><a href="{{ path('boss_key_manager', { type: 1 }) }}">Key менеджер</a></li>
                                <li><a href="{{ path('boss_key_manager', { type: 2 }) }}">Редакторы</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_EDITOR') %}
                                <li><a href="{{ path('boss_key_manager', { type: 3 }) }}">Авторы</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    {% if is_granted('ROLE_KEY_MANAGER') %}
                        <ul class="nav nav-sidebar">
                            <li><a href="{{ path('manager_task') }}">Заддания</a></li>
                        </ul>
                    {% endif %}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
