{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h2 class="sub-header">Добавление нового {{ role }}</h2>
    <form action="{{ path('boss_key_manager_edit', { id: id, type: type }) }}" method="POST">
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td><lable for="username">UserName</lable></td>
                    <td>
                        <input type="text" name="username" value="{{ user.username }}" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td><lable for="email">E-mail</lable></td>
                    <td>
                        <input type="email" name="email" value="{{ user.email }}" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td><lable for="password">Password</lable></td>
                    <td>
                        <input type="password" name="password" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td><lable for="status">Status</lable></td>
                    <td>
                        <select name="status">
                            <option value="0">не активен</option>
                            <option value="1" {% if user.enabled == 1 %}selected="selected"{% endif %}>активен</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="btn btn-success" type="submit" value="Сохранить"/>
                    </td>
                    <td>
                        <a class="btn btn-default" href="{{ path('boss_key_manager', { type: type }) }}">К списку</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}
