{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h2 class="sub-header">Добавление нового проекта</h2>
    <form action="{{ path('admin_project_create') }}" method="POST">
        {{ form_errors(form) }}
        <div class="table-responsive">
            <table class="table table-striped">

                <tbody>
                <tr>
                    <td style="width: 250px">Название проекта в сервисе перелинковки</td>
                    <td>{{ form_widget(form.projectName ) }}</td>
                </tr>
                <tr>
                    <td><lable for="urls">URL Xml сайта</lable></td>
                    <td>{{ form_widget(form.sitemap ) }}</td>
                </tr>
                <tr>
                    <td>
                        <input class="btn btn-success" type="submit" value="Сохранить"/>
                    </td>
                    <td>
                        <a class="btn btn-default" href="{{ path('admin_project') }}">К списку</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {{ form_widget(form._token ) }}
    </form>
{% endblock %}
