{% extends '::admin_base.html.twig' %}

{% block body -%}
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>Проект - {{ entity.projectName }}</h4>
            <span class="text-muted">{{ entity.updatedAt|date('Y-m-d H:i:s') }}</span>
            <span class="text-muted" style="color: green; font-weight: bold;">{{ entity.getPercentStatus() }}%</span>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" style="font-size: 10px;">
            <thead>
            <tr>
                <th>
                </th>
                <th>
                    <a class="btn btn-default" href="{{ path('admin_project_file', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-list-alt"></span> В тексте</a>
                    <a class="btn btn-default" href="{{ path('admin_project_file_after_text', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-indent-right"></span> После текста</a>
                    <a class="btn btn-default" href="{{ path('admin_project') }}">К списку</a>
                </th>
                <th>{{ form(delete_form) }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in entity.getUrls %}
                <tr>
                    <td>{{ item.url }}</td>
                    <td {% if item.status == 1 %}style="color: green; font-weight: bold;" {% endif %}>{{ item.status }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
