{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h2 class="sub-header">Проекты</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Название</th>
                <th>Дата создания</th>
                <th>Категории</th>
                <th><a class="btn btn-primary" href="{{ path('boss_site_new') }}"><span class="glyphicon glyphicon-plus"></span></a></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a class="btn btn-default" href="{{ path('boss_category', { 'site_id': entity.id }) }}"><span class="glyphicon glyphicon-list-alt"></span></a>
                    </td>
                    <td>
                        <a class="btn btn-default" href="{{ path('boss_site_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}